<div class="navbar navbar-default navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/home">Home</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="#/home">Home</a>
                </li>
                <li><a class="nav-link current" href="#/profile">Profile</a>
                </li>
                <li><a class="nav-link" href="#/home">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>September 2014</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <h2>2</h2>Trips
        </div>
        <div class="col-xs-6 text-center">
            <h2>32</h2>Miles driven
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 text-center">
            <hr/>This Month</div>
        <div class="col-md-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-primary"><i class="fa fa-pagelines"></i> Gas saved <span class="pull-right">$5</span></a>
                <a href="#" class="list-group-item list-group-item-success"><i class="fa fa-road"></i> Mileage <span class="pull-right">30/mpg</span></a>
                <a href="#" class="list-group-item list-group-item-info"><i class="fa fa-sun-o"></i> Energy <span class="pull-right">12</span></a>
                <a href="#" class="list-group-item list-group-item-warning"><i class="fa fa-compass"></i> Gallons consumed <span class="pull-right">8</span></a>
                <a href="#" class="list-group-item list-group-item-danger"><i class="fa fa-heart-o"></i> Carma <span class="pull-right">100</span></a>
            </div>
        </div>
    </div>
</div>