<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>carma</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="User name">
            <br/>
            <input type="password" class="form-control" placeholder="Password">
            <br/>
            <button type="button" class="btn btn-primary btn-block" href="#/home">Login</button>
        </div>
    </div>
</div>