<div class="navbar navbar-default navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/home">Home</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="#/home">Home</a>
                </li>
                <li><a class="nav-link current" href="#/profile">Profile</a>
                </li>
                <li><a class="nav-link" href="#/home">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-circle" src="http://1.bp.blogspot.com/_qNZs6HGOI0U/TC-miwgwOgI/AAAAAAAAEUg/7EC5VUgmO1o/s1600/Imagens+extraordin%C3%A1rias+46+(13).jpg" height="120" width="120" />
        </div>
    </div>
</div>